.container {
  padding: 1.5rem;
  box-shadow: 5px 5px 10px #ddd;
  transition: scale 350ms ease;
}

.container:hover {
  scale: 1.05;
  box-shadow: 7px 7px 12px rgb(180, 180, 180);
}

.id {
  font-size: 0.7rem;
  padding: 1rem 0;
  color: rgb(167, 167, 167);
}

.title {
  padding: 1rem 0;
}

.title h2 {
  font-size: 1.5rem;
}

.content {
  height: 10rem;
}
