*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  display: grid;
  align-content: center;
}

main h1 {
  text-align: center;
  padding: 1rem 0;
}

.card-container,
.project-container {
  display: grid;
  overflow: hidden;
  padding: 2rem 3rem;
  gap: 1.5rem;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
}

a {
  text-decoration: none;
  color: inherit;
}

@media screen and (max-width: 768px) {
  .card-container,
  .project-container {
    padding: 1rem;
  }
}
