.header {
  min-height: 20vh;
  overflow: hidden;
  background-color: #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  padding: 1rem 3rem;
  gap: 2rem;
}

.logo {
  flex: 1;
  color: #ffff;
}

.logo h1 {
  font-size: 3rem;
}
